// Let's automate things ...
// Mapping colour schemes
$scheme-colours: (
  primary: (
    aqua: #2195ab,
    basic: #176093,
    darkblue: #34789f,
    darkgreen: #26783a,
    green: #239e62,
    lightgreen: #23b793,
    orange: #555555,
    red: #555555,
  ),

  secondary: (
    aqua: #e6a417,
    basic: #e68c17,
    darkblue: #e61717,
    darkgreen: #df7e16,
    green: #e84919,
    lightgreen: #e69617,
    orange: #e68c17,
    red: #e61717,
  ),

  button-icon-hover: (
    aqua: #08afdd,
    basic: #006ac6,
    darkblue: #2384c8,
    darkgreen: #1b9d42,
    green: #0ece7a,
    lightgreen: #08e9c0,
    orange: #636363,
    red: #636363,
  ),

  pm-marked: (
    aqua: #ff7500,
    basic: #FF6600,
    darkblue: #ff3216,
    darkgreen: #fb5e00,
    green: #ff3d02,
    lightgreen: #ff6c00,
    orange: #FF6600,
    red: #ff3216,
  ),

  pm-replied: (
    aqua: #b2c4c7,
    basic: #A9B8C2,
    darkblue: #b7c1c6,
    darkgreen: #9eb3a3,
    green: #b1c5bb,
    lightgreen: #b6cac5,
    orange: #b6b6b6,
    red: #b6b6b6,
  ),

  pm-friend: (
    aqua: #70aec1,
    basic: #5D8FBD,
    darkblue: #7d9fb8,
    darkgreen: #5ea875,
    green: #6ebc9b,
    lightgreen: #77c3b6,
    orange: #8d8d8d,
    red: #8d8d8d,
  ),

  wlm-icon-after: (
    aqua: #86cad4,
    basic: #75afd3,
    darkblue: #92b9cc,
    darkgreen: #73be83,
    green: #84d0a9,
    lightgreen: #8bd6c2,
    orange: #a4a4a4,
    red: #a4a4a4,
  ),
);

// Retrieve color from $scheme-colors map
// Example:
//  .class {
//    background-color: m-color(secondary, darkblue);
//  }
@function m-color($color-name, $colorscheme) {
  // Bringing the clour scheme variable into the game
  $scheme-select: $color-scheme;
  // map inception and definig the variable returning the calculated values
  $colour-select: map-get(map-get($scheme-colours, $color-name), $scheme-select);
  @return $colour-select;
}

// Now let's get it to work with the code originally included in _style_config.scss

// Absolute black and white colors. Reverse them for dark styles
$black-color:							#000 !default;		// Main color to mix with. Black for light styles, white for dark styles
$white-color:							#fff !default;		// Opposite of $black-color

// Page colors
$page-background:						#eee !default;	// HTML element
$content-background:					#fcfcfc !default;	// Page inside content wrapper
$content-border-color:					#fcfcfc !default;	// Border color for content wrapper

// Primary colors

$primary-color:							m-color(primary, #{$color-scheme}) !default;

$secondary-color:						m-color(secondary, #{$color-scheme}) !default;
$overlay-color:							$white-color !default;	// Text on top of sections that use colorful background.
$block-background:						#fafafa !default;	// Background of blocks
$block-background-reported:				#f5e9e9 !default;	// Background for reported posts

// Global color values
$text-color:							#141414 !default;	// Text color
$bold-text-color:						$black-color !default;	// Text color with higher contrast to background. #000 or #fff
$post-text-color:						$text-color !default;	// Text inside posts
$link-color:							$primary-color !default;	// Links
$link-hover-color:						$secondary-color !default;	// Links, hover state
$muted-color:							mix($black-color, $content-background, 60%) !default;	// Gray color
$faint-color:							mix($black-color, $content-background, 30%) !default;	// Gray color
$rules-color:							desaturate(hsl(0, saturation($secondary-color), lightness($secondary-color)), 20%) !default;	// Forum rules

//
// Calculated colors
//

// Misc. DO NOT EDIT!
$light:									if(lightness($black-color) < 50%, true, false) !default;

// Blocks
$block-background2:						#fff !default;	// Blocks with .bg2 background color
$block-background3:						#fcfcfc !default;	// Blocks with .bg3 background color - mostly UCP/MCP and posting form

$block-border:							#e4e4e4 !default;	// Border color for blocks
$border-radius:							2px !default;		// Main border radius
$block-top-border:						lighten($block-background, 10%) !default;	// Top border of forums in forums list
$block-bottom-border:					darken($block-background, 6%) !default;		// Bottom border of forums in forums list
$block-inner-border:					$block-bottom-border !default;	// Border inside blocks where there is only 1 border instead of top/bottom borders

$block-title-color:						desaturate($link-color, 5%) !default;	// Title inside blocks, such as post title

// Tabs
$tab-color:								desaturate($link-color, 20%) !default;
$tab-background:						$block-background !default;
$tab-border:							$block-border !default;

$tab-hover-color:						$link-hover-color !default;
$tab-hover-background:					$block-background3 !default;
$tab-hover-top-border:					mix($block-border, $secondary-color, 80%) !default;
$tab-hover-border:						$tab-hover-top-border $tab-hover-top-border $tab-border !default;

$tab-selected-color:					$secondary-color !default;
$tab-selected-background:				#eaeaea !default;
$tab-selected-border:					#eaeaea !default;

// Header
$header-bg:								$content-background !default;
$header-text:							$text-color !default;
$header-link:							$overlay-color !default;
$header-link-hover:						mix($header-link, $header-bg, 80%) !default;

// Primary navigation
$primary-nav-bg:						$primary-color !default;
$primary-nav-gradient-start:			rgba(255, 255, 255, .1) !default;
$primary-nav-gradient-end:				rgba(255, 255, 255, 0) !default;
$primary-nav-color:						$overlay-color !default;

$primary-nav-selected-bg:				$content-background !default;
$primary-nav-selected-color:			$primary-color !default;

$primary-nav-hover-bg:					$content-background !default;
$primary-nav-hover-color:				$secondary-color !default;

$primary-nav-alert-bg:					#c00 !default;
$primary-nav-alert-color:				$overlay-color !default;
$primary-nav-alert-shadow:				1px 1px 3px rgba(0, 0, 0, .1) !default;

// Dropdown
$dropdown-bg:							$block-background !default;
$dropdown-border:						$primary-color !default;
$dropdown-shadow:						1px 3px 5px rgba(0, 0, 0, 0.5) !default;
$dropdown-shadow-up:					1px 0 5px rgba(0, 0, 0, 0.5) !default;
$dropdown-inner-border:					if($light, darken($dropdown-bg, 10%), lighten($dropdown-bg, 10%)) !default;

$dropdown-heading-top:					$dropdown-border !default;
$dropdown-heading-bottom:				$dropdown-heading-top !default;
$dropdown-heading-color:				$overlay-color !default;
$dropdown-heading-link-color:			$overlay-color !default;
$dropdown-heading-link-hover-color:		$overlay-color !default;

$forum-description-color:				$overlay-color !default;
$forum-description-bg:					darken($primary-color, 15%) !default;
$forum-description-gradient-start:		rgba(255, 255, 255, .1) !default;
$forum-description-gradient-end:		rgba(255, 255, 255, 0) !default;

// Notifications
$notification-unread-bg:				mix($content-background, $rules-color, 90%) !default;
$notification-unread-color:				$rules-color !default;
$notification-unread-strong-color:		grayscale(if(lightness($notification-unread-color) < 50%, darken($notification-unread-color, 30%), lighten($notification-unread-color, 30%))) !default;

$dropdown-notification-bg:				$block-background !default;
$dropdown-notification-hover-bg:		$block-background2 !default;
$dropdown-notification-color:			$link-color !default;
$dropdown-notification-hover-color:		$link-hover-color !default;
$dropdown-notification-strong-color:	grayscale(if(lightness($dropdown-notification-color) < 50%, darken($dropdown-notification-color, 30%), lighten($dropdown-notification-color, 30%))) !default;

// Panels
$panel-title-color:						desaturate(if($light, darken($primary-color, 10%), lighten($primary-color, 10%)), 25%) !default;
$panel-title-border:					$block-inner-border !default;

// Content outside of blocks
$page-title-color:						$primary-color !default;
$stats-title-color:						desaturate(if($light, darken($primary-color, 10%), lighten($primary-color, 10%)), 25%) !default;
$content-top-border:					lighten($content-background, 10%) !default;
$content-bottom-border:					darken($content-background, 10%) !default;
$content-inner-border:					$content-bottom-border !default;

// Heading section
$heading-bg:							$primary-color !default;
$heading-border:						$heading-bg !default;
$heading-color:							$overlay-color !default;
$heading-link:							$overlay-color !default;
$heading-link-hover:					mix($heading-link, $heading-bg, 80%) !default;

// Inputs
$input-text:							$text-color !default;	// Input text color
$input-bg:								$white-color !default;	// Input background
$input-border:							#e0e0e0 !default;	// Input border color
$input-hover-text:						$primary-color !default;
$input-hover-bg:						$input-bg !default;
$input-hover-border:					mix($primary-color, $block-border, 40%) !default;
$input-focus-text:						$text-color !default;
$input-focus-bg:						$input-bg !default;
$input-focus-border:					mix($primary-color, $block-border, 60%) !default;
$input-border-radius:					2px !default;

$search-box-border:						#e0e0e0 !default;	// Border for search box block
$search-box-border-header:				#e0e0e0 !default;		// Same as above, for search box in header

// Buttons
$button-bg:								#e8e8e8 !default;
$button-border-radius:					1px !default;
$button-border:							#e0e0e0 !default;
$button-main-border:					#d0d0d0 !default;
$button-icon:							#909090 !default;
$button-icon-hover:						#006ac6 !default;
$button-text:							$text-color !default;

$button-top-padding:					2px !default;
$button-side-padding:					8px !default;
$button-border-width:					1px !default;
$button-height:							$button-line-height + ($button-top-padding + $button-border-width) * 2 !default;

$big-button-border-radius:				2px !default;	// For big buttons and blocks like quick search

// BBCode
$bbcode-border-radius:					2px !default;
$bbcode-background:						$block-background2 !default;
$bbcode-background2:					$block-background !default;
$bbcode-outer-border:					$block-inner-border !default;
$bbcode-inner-border:					mix($block-inner-border, $block-background, 30%) !default;
$bbcode-heading-text:					$muted-color !default;

// Code colors
@function code-color($hue) {
	@return hsl($hue, saturation($primary-color), lightness($primary-color));
}
$bbcode-code-color:						code-color(128deg) !default;
